{% load static %}
<html>
<head>
    <script type="text/javascript" src="{% static "js/fusioncharts.js" %}"></script>
    <script type="text/javascript" src="{% static "js/fusioncharts.charts.js" %}"></script>
    <script type="text/javascript" src="{% static "js/fusioncharts.gantt.js" %}"></script>
    <script type="text/javascript" src="{% static "js/fusioncharts.widgets.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/render_chart.js" %}"></script>
</head>
<div id="chart-container"></div>
</html>